<div class="form-total">
     <h1>Meus Amigos</h1>

     <form action="/adicionar" method="post" class="form">

     <div class="form-control">
          <label for="nome">Nome:</label>
          <input type="text" name="nome" placeholder="Informe o nome do amigo:">
     </div>

     <div class="form-control">
          <label for="idade">Idade:</label>
          <input type="text" name="idade" placeholder="Informe a idade do amigo:">
          <input type="submit" value="Cadastrar">
     </div>

</div>
</form>
</div>
